* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: sans-serif;
    background-image: url("../images/ocean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

main {
    background-color: #0c3381;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100vh;
    animation: backgroundFade 2s 14s ease;
    animation-fill-mode: forwards;
}

main::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #07080d;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    animation: background 4s 7s ease;
    animation-fill-mode: forwards;
    transform: scale(1);
    transition: all 1s ease-in-out;
    z-index: 1;
}

.showCase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.innerShow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.showCase img:nth-child(1) {
    transform: scale(2.7) rotate(90deg);
    position: relative;
    left: 10em;
    animation: bottle 4s 2s ease;
    animation-fill-mode: forwards;
    transition: all 1s ease-in-out;
    z-index: -3;
}

.showCase img:nth-child(2) {
    display: block;
    position: relative;
    left: 12em;
    animation: bottlep 2s 6s ease;
    animation-fill-mode: forwards;
    transition: all 1s ease-in-out;
    opacity: 0;
    z-index: -2;
}

.details {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.96);
    /* background-color: red; */
    width: 50%;
    height: 100vh;
    z-index: 1000;
    color: white;
}

.logo {
    visibility: hidden;
    align-self: flex-start;
    position: absolute;
    top: 1em;
    padding: 2em 3em;
    animation: logo 2s 9s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.sideDetails {
    padding: 0em 3em;
}

.sideDetails h1 {
    visibility: hidden;
    font-size: 3em;
    animation: logo 2s 10s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    color: #99c0ff;
}

.sideDetails p {
    visibility: hidden;
    font-size: 1.1em;
    animation: logo 2s 11s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.sideDetails p a {
    color: #99c0ff;
}

.sideFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
}

.sideFooter small {
    visibility: hidden;
    animation: logo 2s 11.5s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.social a {
    font-size: large;
    cursor: pointer;
    padding-left: 1em;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
}

.social a:hover {
    transition: all 0.3s ease;
    color: #99c0ff;
}

.social a:nth-child(1) {
    visibility: hidden;
    animation: logo 2s 12s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.social a:nth-child(2) {
    visibility: hidden;
    animation: logo 2s 12.5s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.social a:nth-child(3) {
    visibility: hidden;
    animation: logo 2s 13s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.social a:nth-child(4) {
    visibility: hidden;
    animation: logo 2s 13.5s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes bottle {
    0% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    20% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    50% {
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    75% {
        left: 9em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    100% {
        left: 22em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
}

@keyframes bottle1 {
    0% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    20% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    50% {
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    75% {
        left: 9em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    100% {
        left: 29em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
}

@keyframes bottle2 {
    0% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    20% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    50% {
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    75% {
        left: 15em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    100% {
        left: 26em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
}

@keyframes bottle3 {
    0% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    20% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    50% {
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    75% {
        left: 9em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    100% {
        left: 32em;
        transform: scale(1.3) rotate(0deg);
        z-index: 3;
    }
}

@keyframes bottle4 {
    0% {
        transform: scale(2.3) rotate(90deg);
        z-index: 3;
    }
    420 {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    50% {
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    75% {
        left: 15em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    100% {
        left: 26em;
        transform: scale(0.8) rotate(0deg);
        z-index: 3;
    }
}

@keyframes bottle5 {
    0% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    49% {
        transform: scale(2.7) rotate(90deg);
        z-index: 3;
    }
    50% {
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    75% {
        left: 18em;
        transform: scale(1) rotate(0deg);
        z-index: 3;
    }
    100% {
        left: 28em;
        transform: scale(0.8) rotate(0deg);
        z-index: 3;
    }
}

@keyframes bottlep {
    0% {
        opacity: 0;
        z-index: 2;
    }
    100% {
        opacity: 1;
        z-index: 2;
    }
}

@keyframes background {
    0% {
        width: 100%;
    }
    25% {
        width: 50%;
    }
    50% {
        width: 50%;
        transform: scale(1);
    }
    100% {
        width: 50%;
        transform: scale(0.96);
    }
}

@keyframes logo {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes backgroundFade {
    0% {
        background-color: #0c3381;
    }
    100% {
        background-color: #0c3381bb;
    }
}

@media (min-height: 720px) {
    .sideDetails h1 {
        visibility: hidden;
        font-size: 5em;
        animation: logo 2s 10s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        color: #99c0ff;
    }
    .showCase img:nth-child(1) {
        animation: bottle1 4s 2s ease;
        animation-fill-mode: forwards;
        transition: all 1s ease-in-out;
    }
    .showCase img:nth-child(2) {
        left: 22em;
    }
}

@media (max-width: 2560px) {
    .sideDetails h1 {
        visibility: hidden;
        font-size: 5em;
        animation: logo 2s 10s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        color: #99c0ff;
    }
    .showCase img:nth-child(1) {
        animation: bottle3 4s 2s ease;
        animation-fill-mode: forwards;
        transition: all 1s ease-in-out;
    }
    .showCase img:nth-child(2) {
        left: 24em;
        transform: scale(1.3);
    }
}

@media (max-width: 1920px) {
    .sideDetails h1 {
        visibility: hidden;
        font-size: 5em;
        animation: logo 2s 10s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        color: #99c0ff;
    }
    .innerShow {
        right: 3em;
    }
    .showCase img:nth-child(1) {
        animation: bottle3 4s 2s ease;
        animation-fill-mode: forwards;
        transition: all 1s ease-in-out;
    }
    .showCase img:nth-child(2) {
        left: 24em;
        transform: scale(1.3);
    }
}

@media (max-width: 1440px) {
    .sideDetails h1 {
        visibility: hidden;
        font-size: 5em;
        animation: logo 2s 10s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        color: #99c0ff;
    }
    .showCase img:nth-child(1) {
        animation: bottle2 4s 2s ease;
        animation-fill-mode: forwards;
        transition: all 1s ease-in-out;
        left: 15em;
    }
    .showCase img:nth-child(2) {
        left: 16em;
        transform: scale(1);
    }
    .innerShow {
        right: 5em;
    }
}


/* @media (max-width: 1440px) {

} */

@media (max-width: 1140px) {
    .showCase img:nth-child(1) {
        animation: bottle4 4s 2s ease;
        animation-fill-mode: forwards;
        transition: all 1s ease-in-out;
        transform: scale(2.2) rotate(90deg);
        left: 15em;
    }
    .showCase img:nth-child(2) {
        left: 13em;
        transform: scale(0.8);
    }
    .innerShow {
        right: 6em;
    }
    .sideDetails h1 {
        font-size: 3em;
    }
}

@media (max-width: 877px) {
    .innerShow {
        right: 8em;
    }
    .sideDetails h1 {
        font-size: 2em;
    }
}

@media (max-width: 760px) {
    .showCase img:nth-child(1) {
        animation: bottle5 4s 2s ease;
        animation-fill-mode: forwards;
        transition: all 1s ease-in-out;
    }
    .innerShow {
        right: 11em;
    }
}

@media (max-width: 750px) {
    main {
        display: flex;
        flex-direction: column;
    }
    main::before {
        background-color: transparent;
    }
    .details {
        position: relative;
        background-color: #07080d;
        width: 100%;
    }
    .sideDetails {
        padding: 2em 3em;
        position: relative;
        top: 2em;
    }
    .showCase {
        display: none;
    }
}